/* Make full page height */
html,
body,
#root {
  height: 100%;
  min-height: 100%;
}

/* Enable full page scroll */
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

/* ============================= */
/* SCROLLBAR STYLING */
/* ============================= */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
